div{
    width : 100px;
    height: 50px;
    border: 2px solid black;
    margin-top : 10px;
    display : inline-block;
  }
  button{
    font-size: 30px;
    color: white;
    border: none;
    background-color: firebrick;
    border-radius: 50px;
    padding : 20px;
    margin-top: 20px;
  }
  /* .o{
    background-color: blue;
  }
  .t{
    background-color: red;
  } */